<center>
<form action="http://hpcr.cs.odu.edu/c3scorpion/c3scorpion_exec.php" method="post">
		<label for="qtitle">Tile</label>
		<input name="qtitle" id="inputUsername">
		<br>
		<label for="email">Email</label>
		<input name="email" id="inputEmail">
		<br>
		<label for="seq">Sequence</label>
		<textarea name="seq" id="inputSequence"></textarea>
		<br>
		<input name="submit" type="submit" value="Submit Sequence"/>
		<input name="clear" type="reset" value="Reset"/>
</form>
</center>
<script type='text/javascript'>


	var inputUsername = new LiveValidation( "inputUsername", {
			 validMessage: "Welcome friend!", wait: 500 } );
				inputUsername.add( Validate.Presence, {
					 failureMessage: "Your name has to be at least 4 characters" } );
				inputUsername.add( Validate.Length, { minimum: 4});
  var inputEmail = new LiveValidation( "inputEmail", {
			 validMessage: "Valid Email!", wait: 500 } );
			inputEmail.add( Validate.Presence, {
				 failureMessage: "Email Required" } );
		  inputEmail.add( Validate.Email, {
				 failureMessage: "Invalid email address!"});
	 	 //inputEmail.add( Validate.Format, {pattern: /cs.odu.edu/i, failureMessage: "CS Email Only" } );

 var inputSequence = new LiveValidation( "inputSequence", {
		  validMessage: "Good Sequence", wait: 500 } );
		  inputSequence.add( Validate.Presence, {
				 failureMessage: "Sequence Required" } );
			inputSequence.add( Validate.Length, { minimum: 40});
			inputSequence.add( Validate.Length, { maximum: 1000});
</script>
