	<form action="http://hpcr.cs.odu.edu/c3scorpion/c3scorpion_exec.php" method="post">
			<br>
			<table align="center" class="style12">
				<tr>
					<td class="auto-style24" valign="top"><strong>Title</strong></td>
					<td colspan="2" class="style26">
					<input name="qtitle" style="width: 282px" type="text" class="style12" /><span class="style9" style="font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-size: medium;"> </span>
					<span class="auto-style25" style="font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); ">
					<em>query title</em></span></td>
				</tr>

				<tr>
					<td class="auto-style17" valign="top" style="height: 129"><strong>
						<span class="auto-style18">Sequence<br></span>
						<span class="auto-style20">(* required)</span><span class="style9" style="font-family: 'Consolas'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-size: medium;"><font size="2"><span class="style18"><br></span></font></span></strong>
					</td>
					<td colspan="2" style="height: 129" class="auto-style22">
					<textarea name="seq" style="width: 481px; height: 122px" class="style25"></textarea></td>
				</tr>
				<tr>
					<td valign="top">&nbsp;</td>
					<td colspan="2" class="style6">
					<span class="style11" style="font-family: 'Consolas'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-size: medium;">
									<em><font size="2" color="black">A sequence of Amino Acids</font></em>
					</span></td>
				</tr>
				<tr>
					<td class="auto-style19" valign="top"><strong>E-mail</strong></td>
					<td colspan="2" class="auto-style26">
						<input name="email" style="width: 381px" type="text" value="" class="style12" /><strong><span class="auto-style20">
						(* required)</span></strong>
					</td>
				</tr>
				<tr>
					<td class="style3" valign="top">&nbsp;</td>
					<td colspan="2" class="style6">
					<span class="style11" style="font-family: 'Consolas'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-size: medium;">
					<font size="2"><em>
									<em><font size="2" color="black">The prediction results will be sent to this e-mail</font></em>
									</em></font></span></td>
				</tr>
				<tr>
					<td style="height: 38px"></td>
					<td class="style15" style="height: 38px">
					<strong>
					<input name="submit" style="width: 166px; color: #000000;" type="submit" value="Submit Sequence" class="style16" /></strong></td>
					<td class="style6" style="height: 38px">
					<strong>
					<input name="clear" style="width: 145px" type="reset" value="Clear Form" class="style14" /></strong></td>
				</tr>
			</table>
		</form>
