body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#controls {
  font-size: 20px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
